body{
    background-color: rgb(0, 194, 200);
    color: rgb(0, 0, 0);
    padding: 20px;
}
h1{
    text-align: center;
    background-color: rgb(186, 255, 154);
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0;
}
span{
    color: red;
}

input{
    width: 200px;
}

#inputs{
    margin: 0 auto;
    width: 47%;
    height: 320px;
    text-align: center;
    float: left;
    padding: 20px;
    background-color: rgb(186, 255, 154);
    border-radius: 10px;
}

#student-list{
    margin: 0 auto;
    width: 47%;
    height: 320px;
    text-align: center;
    float: right;
    padding: 20px;
    background-color: rgb(186, 255, 154);
    border-radius: 10px;
} 

ul{
    list-style-type: none;
}

#display{
    margin: 0 auto;
    width: 100%;
    height: 110px;
    float: left;
    text-align: center;
    background-color: rgb(186, 255, 154);
    border-radius: 10px;
}

#space{
    margin: 0 auto;
    width: 100%;
    height: 30px;
    float: left;
}